# Backend Automation & Node Updater
update_dns_auto.py

# Data & Configurations
*.csv
# Explicitly ignoring specific CSVs to be safe
credentials.csv
OptiDomainbot.csv
optimized_cf_ips.csv

# Python Virtual Environment
.venv/
__pycache__/

# Environment Variables
.env
